.container{
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  .content {
    height: 100vh;
    overflow: hidden;
    &.sub-header {
      height: calc(100vh - 90px);
    }
  }
}
