:host {

    .content {

        form {
            width: 100%;
            max-width: 800px !important;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .horizontal-stepper-wrapper,
        .vertical-stepper-wrapper {
            max-width: 800px;
        }
    }
    mat-icon.button {
        cursor: pointer;
    }
    .option-title {
        margin-right: 20px;
    }
    .order-item {
        padding: 20px;
        margin-bottom: 15px;
        border-radius: 20px;
        border: solid #888 1px;
        overflow: hidden;
    }
}