<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

    <!-- HEADER -->
    <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">User Interface</span>
            </div>
            <div class="h1 mt-16">Forms</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="h1">
            Reactive Forms
        </div>

        <div class="vertical-stepper-wrapper" fxLayout="column">
            <mat-vertical-stepper class="mat-elevation-z4" [linear]="true">
                <mat-step *ngFor="let step of steps; let i = index">
                    <ng-template matStepLabel>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <h1>
                                {{step.stepLabel}}
                            </h1>
                            <mat-icon (click)="seeMenu(step.imageSource)" style="width: 24px !important; height: 24px !important;">search</mat-icon>
                        </div>

                    </ng-template>
                    <div class="order-item" [@openClose]="item['isOpen'] ? 'open' : 'closed'" *ngFor="let item of step['items']" fxLayout="column">
                        <div class="title" fxLayout="row" fxLayoutAlign="space-between center" (click)="item['isOpen'] = true;">
                            <h2>{{item.label}}</h2>
                            <div class="title-option" fxLayout="row" fxLayoutAlign="space-around center" fxFlex="50">
                                <mat-icon class="button" (click)="subOne(i, item.key);"style="width: 32px; height: 32px">remove</mat-icon>
                                <input matInput [(ngModel)]="item.value" type="number" style="text-align: center;">
                                <mat-icon class="button" (click)="addOne(i, item.key); "style="width: 32px; height: 32px">add</mat-icon>
                            </div>
                        </div>
                        <div>
                            <h2 class="option-title">Ice: </h2>
                            <mat-radio-group [(ngModel)]="item['iceSelect']" fxLayoutAlign="space-between center" fxFlex="100">
                                <mat-radio-button  *ngFor="let ice of item['ice']" [value]="ice['value']">{{ice['label']}}</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <h2 class="option-title">Sugar: </h2>
                            <mat-radio-group [(ngModel)]="item['sugarSelect']" fxLayoutAlign="space-between center" fxFlex="100">
                                <mat-radio-button *ngFor="let sugar of item['sugar']" [value]="sugar['value']">{{sugar['label']}}</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <h2 class="option-title">Size: </h2>
                            <mat-radio-group [(ngModel)]="item['sizeSelect']" fxLayoutAlign="space-between center" fxFlex="100" (change)="calculatorSum()">
                                <mat-radio-button *ngFor="let size of item['size']" [value]="size['value']">{{size['label']}}</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <h2 class="option-title">Extra: </h2>
                            <div *ngFor="let o of item['options']" fxLayoutAlign="space-between center" fxFlex="100">
                                <mat-checkbox [checked]="o.choose"  (change)="checkedOption(i, item.key, o.key)">{{o.label}}</mat-checkbox>
                            </div>
                        </div>
                    </div>

                    <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-around center">
                        <button mat-raised-button matStepperPrevious (click)="closeAllExpand()">previous</button>
                        <button *ngIf="!step.isEnd" mat-raised-button matStepperNext (click)="closeAllExpand()">next</button>
                        <button *ngIf="step.isEnd" mat-raised-button type="button" color="accent" (click)="finishHorizontalStepper()">
                            Finish
                        </button>
                    </div>

                    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
                        <div></div>
                        <div fxLayout="row">
                            <mat-icon>attach_money</mat-icon>
                            <div>Total: {{sum}}</div>
                        </div>
                    </div>

                </mat-step>
            </mat-vertical-stepper>

        </div>



    </div>
    <!-- / CONTENT -->

</div>
