@import "src/styles/global-varible";
.coming-soon {
  width: 100%;
  background: white;
  background-size: cover;
  height: calc(100vh - 90px);
  overflow-y: scroll;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  .title {
    color: black;
    font-size: 30px;
    font-weight: bold;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .subtitle, .message {
    color: #aaaaaa;
    padding: 0 40px;
    box-sizing: border-box;
  }
  .circle {
    width: 144px;
    height: 144px;
    padding: 20px;
    border-radius: 50%;
    border: solid white 2px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 10px 10px;
    background-color: black;
    .time-text {
      font-size: 50px;
      line-height: 1.1;
      font-weight: 300;
      opacity: .9;
    }
    .time-unit {
      font-size: 16px;
      font-weight: 300;
    }
  }
  .go-back {
    background-color: transparent;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    border: solid white 1px;
    cursor: pointer;
  }
  .footer {
    width: 100%;
    height: 340px;
    background-color: #f2a202;
    position: relative;
    .black-board {
      position: relative;
      margin: 0 auto;
      width: 210px;
      cursor: pointer;
      svg-icon {
        position: relative;
        top: -70px;
      }
    }
  }
}
@media screen and (max-width: $mobile-width){
  .subtitle, .message {
    color: #aaaaaa;
    box-sizing: border-box;
    text-align: center;
  }
  .coming-soon{
    .circle {
      width: 70px;
      height: 70px;
      .time-text {
        font-size: 30px;
        line-height: 1.1;
        font-weight: 300;
        opacity: .9;
      }
      .time-unit {
        font-size: 12px;
        font-weight: 300;
      }
    }
  }
}
