[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==3.8.2"
flake8-docstrings = "==1.5.0"

[packages]
flask = "==1.1.2"
google-api-python-client = "==1.8.3"
loguru = "==0.5.0"
requests = "==2.23.0"
jwcrypto = "==0.7"
uwsgi = "==2.0.18"
pymongo = "==3.10.1"
redis = "==3.5.3"

[requires]
python_version = "3.8"
