.container{
  position: relative;
  .profile-photo {
    border-radius: 55px;
    overflow: hidden;
    margin: 16px;
    width: 110px;
    height: 110px;
    .profile-img {
      width: 110px;
      height: 110px;
    }
  }
  .profile-info {
    & > * {
      padding-bottom: 10px;
    }
    .profile-name {
      font-size: 16px;
      font-weight: bold;
    }
  }

}
