.container {
  .navigate-group {
    color: #ddd;
    padding: 10px 20px;
    font-size: 20px;
  }
  .navigate-item {
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    .item-text {
      padding-left: 12px;
    }
  }
}
