<div class="container" fxFlex="100" fxLayout="column">
  <div class="navigate-group">Afternoon Tea</div>
  <div class="navigate-item" fxLayout="rows" fxLayoutAlign="start center"
       (click)="navigateTo('afternoon-tea/form')">
    <mat-icon>flash_on</mat-icon>
    <span class="item-text">Current</span>
  </div>
  <div class="navigate-item" fxLayout="rows"  fxLayoutAlign="start center"
       (click)="navigateTo('afternoon-tea/history')">
    <mat-icon>history</mat-icon>
    <span class="item-text">History</span>
  </div>
  <div class="navigate-item" fxLayout="rows" fxLayoutAlign="start center"
       (click)="navigateTo('afternoon-tea/coming-soon')">
    <mat-icon>event_note</mat-icon>
    <span class="item-text">Coming Soon</span>
  </div>
</div>
