.container {
  &:first-child {
    margin-top: 60px;
  }
  .navigate-item {
    padding: 0;
    color: white;
    cursor: pointer;
    margin-bottom: 50px;
    .item-text {
      font-size: 20px;
      color: black;
    }
  }
  .navigate-logout {
    font-size: 20px;
    margin-top: 50px;
    color: black;
    cursor: pointer;
    padding-bottom: 30px;
  }
}
