<div class="container" fxLayout="column" fxLayoutAlign="start center">
  <div class="navigate-item" fxLayout="rows" fxLayoutAlign="start center"
       (click)="navigateTo('afternoon-tea/form')">
    <span class="item-text">Food & Drink</span>
  </div>
  <div class="navigate-item" fxLayout="rows"  fxLayoutAlign="start center"
       (click)="navigateTo('afternoon-tea/history')">
    <span class="item-text">History</span>
  </div>
  <div class="navigate-item" fxLayout="rows" fxLayoutAlign="start center"
       (click)="navigateTo('afternoon-tea/coming-soon')">
    <span class="item-text">Coming Soon</span>
  </div>
  <div *ngIf="(authService.currentUser$ | async)['level'] >= 300" class="navigate-item" fxLayout="rows" fxLayoutAlign="start center"
       (click)="navigateTo('admin/main')">
    <span class="item-text">Admin</span>
  </div>
  <div class="navigate-item" fxLayout="rows" fxLayoutAlign="start center"
       (click)="logOut()">
    <span class="item-text">Logout</span>
  </div>
</div>
