
.cart-grid {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    grid-row-gap: 10px;
    width: 100%;
    padding: 20px;
    .item {
        justify-self: start;
        .item-sub {
            padding-left: 10px;
            opacity: .7;
            font-size: 10px;
        }
    }
    .title {
        justify-self: start;
        font-size: 16px;
        font-weight: bold;
    }
}
.total {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 60px;
  box-sizing: border-box;
}
.cart-footer {
    padding: 20px;
}
