@import "src/styles/global-varible";
.container {
  width: 100%;
  height: 100%;
  display: flex;
  background: white;
  align-items: center;
  justify-content: center;
  .login-form {
    margin: 0;
    display: flex;
    flex-direction: column;
    .sub-text {
      font-size: 18px;
      font-weight: bold;
      padding: 24px 0;
      margin: 0 auto;
    }
    .login-btn {
      width: 250px;
      height: 51px;
      padding: 5px 24px;
      border: solid 1px #e6e6e6;
      border-radius: 10px;
      display: flex;
      font-size: 16px;
      font-weight: bold;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-sizing: border-box;
      .login-icon {
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }
    }

  }
}
@media screen and (max-width: $mobile-width){
  .container {
    .login-form{
      max-width: var(--mobile-width);
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }
}


