.container {
  width: 100%;
  background-color: white;
  text-align: center;
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    .photo-wrapper {
      height: 430px;
      width: 650px;
      border-radius: 150px;
      overflow: hidden;
      position: relative;
      .photo-list {
        display: flex;
        flex-wrap: nowrap;
        width: 10000px;
        position: relative;
        left: -650px;
        &.shift {
        transition: all 500ms ease-out;
        }
        .photo-content {
          min-height: 430px;
          min-width: 650px;
          background-position: center;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          .emotion {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 25px;
            background: white;
          }
          .news-message {
            margin-top: 15px;
            font-weight: bold;
          }
        }
      }
    }
    .left-slide {
      cursor: pointer;
      margin-right: 15px;
      transition: all 500ms ease-out;
      padding: 10px;
      &:hover {
       transform: translate(-22px, 0);
        fill: #f2a202;
      }
    }
    .right-slide {
      cursor: pointer;
      margin-left: 15px;
      transition: all 500ms ease-out;
      padding: 10px;
      &:hover {
        transform: translate(22px, 0);
        fill: #f2a202;
      }
    }
  }
  .shop-name {
    font-size: 16px;
    font-weight: bold;
    margin-top: 17px;

  }
  .expiration {
    margin-top: 4px;
    font-size: 12px;
    color: #8a8a8a;
  }
  .dot-group {
    display: flex;
    justify-content: center;
    .dot {
      background: #8a8a8a;
      height: 8px;
      width: 8px;
      border-radius: 4px;
      margin: 20px 10px;
      cursor: pointer;
      &.active {
        background: #f2a202;
      }
    }
  }
}

@media screen and (max-width: 376px) {
  .container {
    max-width: 375px;
    .content {
      max-width: 375px;
      .photo-wrapper {
        max-width: 320px;
        max-height: 395px;
        .photo-list {
          left: -320px;
          .photo-content {
            min-width: 320px;
            min-height: 395px;
          }
        }
      }
      .left-slide {
        display: none;
      }
      .right-slide {
        display: none;
      }
    }
  }

}
