<div class="container">
  <div class="content">
    <div class="left-slide" (click)="pre()">
      <svg-icon src="/assets/icons/left-arrow.svg"></svg-icon>
    </div>
    <div class="photo-wrapper">
      <div class="photo-list shift" #photoList>
        <div *ngFor="let img of images" [style.backgroundImage]="'url('+img.img+')'" class="photo-content">
          <div class="emotion">👀</div>
          <div class="news-message" style="color: white; font-size: 24px;">{{img.uid}} is very good news</div>
        </div>
      </div>
    </div>
    <div class="right-slide" (click)="next()">
      <svg-icon src="/assets/icons/right-arrow.svg"></svg-icon>
    </div>
  </div>
  <div class="shop-name">HARITTS 手工包餡甜甜圈</div>
  <div class="expiration">Expiration-2020-12-31</div>
  <div class="dot-group">
    <div class="dot" *ngFor="let dot of [1,2,3]" (click)="dotSwitch(dot)" [ngClass]="{'active': currentShop === dot}"></div>
  </div>
</div>
