// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";
.form-dialog .mat-dialog-container {
    padding: 0;
    width: 350px;
    height: 227px;
    border-radius: 20px;
}