<div class="container" [@openClose]="isOpen ? 'open' : 'closed'">
  <div class="content">
    <div class="top-nav">
      <img (click)="closeSideBar()" class="close-icon" src="assets/icons/cross.svg" alt="">
    </div>
    <div class="scroll-bar" fxLayout="column">
      <div class="user-navy" fxLayout="column" fxLayoutAlign="start center">
        <div class="user-photo">
          <img class="user-img" [attr.src]="userInfo.picture" alt="User photo">
        </div>
        <div>
          <div class="user-name">{{userInfo.name}} </div>
          <div class="user-sid">No.{{userInfo.sid}}</div>
          <div class="user-email">{{userInfo.email}}</div>
        </div>
        <div class="line"></div>
      </div>
      <app-navigation-bar (closeSideBar)="closeSideBar()" fxFlex="100" fxFill></app-navigation-bar>
    </div>
  </div>
</div>
<div class="sidebar-overlay" (click)="closeSideBar()" *ngIf="isOpen"></div>
