<div class="container" [@openClose]="isOpen ? 'open' : 'closed'">
  <div class="top-nav" fxLayoutAlign="space-around center" fxLayout="rows">
    <em appWelfareIcon iconName="welfare"></em>
    <span>FFN Welfare</span>
    <mat-icon class="icon" (click)="closeSideBar()">arrow_back</mat-icon>
  </div>
  <div class="scroll-bar" fxFlex="100" fxLayout="column">
    <div class="user-navy" fxLayout="column" fxLayoutAlign="center center">
      <div class="user-name">{{userInfo.name}}</div>
      <div class="user-email">{{userInfo.email}}</div>
      <div class="user-photo">
        <img class="user-img" [attr.src]="userInfo.picture" alt="User photo">
      </div>
    </div>
    <app-navigation-bar fxFlex="100" fxFill></app-navigation-bar>
  </div>
</div>
<div class="sidebar-overlay" (click)="closeSideBar()" *ngIf="isOpen"></div>
