.container {
  // TODO: This is a temporary solution, please use angular theme
  .mat-expansion-panel-header-title,.mat-expansion-panel {
    color: black;
  }
  background-color: white;
  height: calc(100vh - 90px);
  overflow-y: scroll;
  .page-title {
    padding: 20px;
  }
  .grid-content {
    max-width: 750px;
    margin: 0 auto;
    .header {
      font-size: 16px;
    }
    .grid-order {
      font-size: 16px;
      display: grid;
      grid-template-columns: 3fr 1fr 1fr;
      grid-row-gap: 10px;
      max-width: 750px;
      .title{
        font-weight: 500;
      }
      .extra-text {
        font-size: 10px;
        color: black;
      }
    }
  }
}

