<div class="container">
    <div fxLayout="column" fxLayoutAlign="center center">
        <div class="page-title">
            <h1>Your Order History</h1>
        </div>
    </div>
    <div class="grid-content">
        <mat-accordion>
            <mat-expansion-panel *ngFor="let history of historyData;" [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title class="header" fxLayout="row" fxLayoutAlign="start center">
                        {{history.date}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="grid-order">
                    <div class="title">Item Name</div>
                    <div class="title">Count</div>
                    <div class="title">Price</div>
                    <ng-container *ngFor="let order of history['orders']">
                        <div>{{order['item']}}
                            <div fxLayout="rows">
                                <div class="extra-text" >{{showExtra(order)}}</div>
                            </div>
                        </div>
                        <div>{{order['value']}}</div>
                        <div>{{order['price']}}</div>
                    </ng-container>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
