<div>
    <div fxLayout="column" fxLayoutAlign="center center">
        <div>
            <h1>Your Order History</h1>
        </div>
    </div>
    <div>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let history of historyData;" [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
                        {{history.date}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="grid-order">
                    <div>Item Name:</div>
                    <div>Ice:</div>
                    <div>Sugar:</div>
                    <div>Count:</div>
                    <div>Price</div>
                    <ng-container *ngFor="let order of history['orders']">
                        <div>{{order['item']}}
                            <div fxLayout="rows">
                                <div *ngFor="let option of order['options']">
                                    {{option}}
                                </div>
                            </div>
                        </div>
                        <div>{{order['ice']}}</div>
                        <div>{{order['sugar']}}</div>
                        <div>{{order['value']}}</div>
                        <div>{{order['price']}}</div>
                    </ng-container>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
