@import "src/styles/global-varible";
.container {
  // TODO: This is a temporary solution, please use angular theme
  .mat-expansion-panel-header-title,.mat-expansion-panel {
    color: black;
  }
  display: grid;
  grid-template-rows: 90px auto 40px;
  background-color: white;
  height: calc(100vh - 90px);
  overflow-y: scroll;
  .page-title {
    padding: 20px;
    text-align: center;
  }
  .grid-content {
    max-width: 750px;
    margin: 0 auto;
    .header {
      font-size: 16px;
    }
    .grid-order {
      font-size: 16px;
      display: grid;
      grid-template-columns: minmax(100px, 130px) 1fr 1fr;
      grid-row-gap: 10px;
      max-width: 750px;
      .title{
        font-weight: 500;
      }
      .extra-text {
        font-size: 10px;
        color: black;
      }
    }
  }
  .total-grid {
    display: grid;
    grid-template-columns: minmax(100px, 130px) 1fr 1fr;
    max-width: 750px;
    margin: 20px auto 0 auto;
    border-top: 1px solid #aaaaaa;
    .title {
      font-weight: 500;
    }
    padding: 12px 0;
  }
  app-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
@media screen and (max-width: $mobile-width) {
  .container {
    .grid-content {
      max-width: 350px;
      padding: 0 10px;
      margin: 0 auto;
      box-sizing: border-box;
    }
  }

}

