<mat-toolbar>
  <div fxLayout="rows" fxFlex="100" fxLayoutAlign="space-between center">
    <mat-icon class="icon" (click)="openSideBar()">dehaze</mat-icon>
    <div class="user-info" fxLayout="rows" fxLayoutAlign="space-around center" [matMenuTriggerFor]="userMenu">
      <div class="user-photo" fxLayoutAlign="center center">
        <img [src]="userInfo.picture" alt="">
      </div>
      <div class="user-name">{{userInfo.name}}</div>
      <mat-icon>arrow_drop_down</mat-icon>
    </div>
  </div>

</mat-toolbar>
<mat-menu #userMenu="matMenu" [overlapTrigger]="false">

  <button mat-menu-item>
    <mat-icon>account_circle</mat-icon>
    <span>My Profile</span>
  </button>

  <button mat-menu-item (click)="logOut()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>

</mat-menu>
