mat-toolbar {
  background-color: white;
  border-bottom: 1px solid rgba(176,176,176,.5);
  .container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
  .logo-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    line-height: 0.71;
    color: #277fd3;
    display: inline-block;
    padding-left: 10px;
    .bold {
      font-weight: 600;
    }
  }
  .icon {
    color: #4184c5;
    cursor: pointer;
  }
  .user-info {
    padding: 10px 10px;
    cursor: pointer;
    .user-photo {
      padding-right: 10px;
      img {
        width: 36px;
        height: 36px;
        border-radius: 18px;
        border: solid 1px rgba(176,176,176,.5);
        overflow: hidden;
      }
    }
    .user-name {
      font-size: 16px;
    }
  }
}
