<div class="container" #container fxLayout="column">
  <div>
    <div class="form" fxLayout="column">
      <div class="form-label" fxLayout="row" fxLayout.xs="column">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="form-label-text">
            {{formData.form[currentForm].formLabel}}
          </div>
          <div class="menu" (click)="seeMenu(formData.form[currentForm].menuImage)">Menu</div>
        </div>
        <div class="count-down-item">Due Date: {{formData.expiration}}</div>
      </div>
      <app-filter-bar (filterEmitter)="handleFilterTarget($event)"></app-filter-bar>
      <div *ngFor="let item of formData.form[currentForm].items">
        <ng-container *ngIf="filterText(item.itemLabel)">
          <div fxLayout="column" class="item" [ngClass]="{'active': item.value > 0}"
               [@openClose]="{value: item.collapse ? 'open' : 'closed', params: {minHeight: minHeight}}">
            <div>
              <app-item-control-bar [item]="item" (toggleCollapse)="toggleCollapse(item)" (updateItem)="handleItem(item, $event)"></app-item-control-bar>
              <ng-container *ngFor="let option of item.options">
                <ng-container *ngIf="!!option.radioSelections && option.radioSelections.length > 0">
                  <ng-container *ngIf="layoutConfigService.isDesktop$ | async; else mobile">
                    <div class="option" fxLayout="column" fxLayoutAlign="start start">
                      <div class="option-title">{{option.optionLabel}}:</div>
                      <mat-radio-group [(ngModel)]="item.selections[option.optionKey]" (change)="calculatorSum()" fxLayoutAlign="space-between center" fxFlex="100">
                        <mat-radio-button  *ngFor="let select of option.radioSelections" [value]="select.value" >{{select.selectionLabel}}</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </ng-container>
                  <ng-template #mobile>
                    <div class="option" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center">
                      <div class="option-title">{{option.optionLabel}}:</div>
<!--                      <mat-select-->
<!--                        [(ngModel)]="item.selections[option.optionKey]" (selectionChange)="calculatorSum()">-->
<!--                        <mat-option *ngFor="let select of option.radioSelections" [value]="select.value">-->
<!--                          {{select.selectionLabel}}-->
<!--                        </mat-option>-->
<!--                      </mat-select>-->
                      <select [(ngModel)]="item.selections[option.optionKey]" (change)="print(item.selections)">
                        <option *ngFor="let select of option.radioSelections" [ngValue]="select.value">
                          {{select.selectionLabel}}
                        </option>
                      </select>
                    </div>
                  </ng-template>
                </ng-container>
                <ng-container *ngIf="!!option.checkBoxOptions && option.checkBoxOptions.length > 0">
                  <div class="option" fxLayout="column" fxLayoutAlign="start start">
                    <div class="option-content">
                      <div class="option-title">
                        <div>{{option.optionLabel}}</div>
                        <svg-icon src="/assets/icons/arrow.svg"></svg-icon>
                      </div>
                      <div class="selection" fxLayout.xs="column">
                        <div *ngFor="let select of option.checkBoxOptions" fxLayout="column" fxLayoutAlign="space-between center" fxFlex="100">
                          <mat-checkbox [checked]="select.choose" (change)="checkedOption(select)">{{select.selectionLabel}}</mat-checkbox>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
      <ng-container *ngIf="true">
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
          <button class="page-btn"  (click)="previousPage()">Previous</button>
          <button class="finish-btn" *ngIf="!formData.form[currentForm].isEnd" (click)="nextPage()">Next</button>
          <button class="finish-btn"  *ngIf="formData.form[currentForm].isEnd" type="button" (click)="finishOrder()">
            Finish
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
