<div class="container" #container>
  <div class="inner-padding">
    <div class="form" fxLayout="column">
      <div class="form-label">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="form-label-text">
            {{formData.form[currentForm].formLabel}}
          </div>
          <div class="menu" (click)="seeMenu(formData.form[currentForm].menuImage)">Menu</div>
        </div>
        <div class="count-down-item">Due Date: {{formData.expiration}}</div>
      </div>
      <app-filter-bar (filterEmitter)="handleFilterTarget($event)"></app-filter-bar>
      <div *ngFor="let item of formData.form[currentForm].items; let i = index">
        <ng-container *ngIf="filterText(item.itemLabel)">
          <div fxLayout="column" class="item" [ngClass]="{'active': item.value > 0}"
               [@openClose]="{value: item.collapse ? 'open' : 'closed', params: {minHeight: minHeight}}">
            <div>
              <app-item-control-bar [item]="item" (toggleCollapse)="toggleCollapse(item)" (updateItem)="handleItem(item, $event)"></app-item-control-bar>
              <ng-container *ngFor="let option of item.options">
                <app-item-option [isActive]="item.value > 0" [options]="option" [item]="item" (optionEmitter)="updateItem($event, item)"></app-item-option>
                <app-item-checkbox [isActive]="item.value > 0" [options]="option" [item]="item" (optionEmitter)="updateItem($event, item)"></app-item-checkbox>
              </ng-container>
              <div class="multi-item" *ngIf="!item.isClone && item.canClone" (click)="cloneItem(item, i)">clone</div>
              <div class="multi-item" *ngIf="!!item.isClone" (click)="popItem(i)">remove</div>
            </div>
          </div>
        </ng-container>
      </div>
      <ng-container *ngIf="true">
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
          <button class="page-btn"  (click)="previousPage()">Previous</button>
          <button class="finish-btn" *ngIf="!formData.form[currentForm].isEnd" (click)="nextPage()">Next</button>
          <button class="finish-btn"  *ngIf="formData.form[currentForm].isEnd" type="button" (click)="finishOrder()">
            Finish
          </button>
        </div>
      </ng-container>
    </div>
  </div>
  <app-footer></app-footer>
</div>
