.container {
  background-color: #ffe8b9;
  padding: 20px;
  height: calc(100vh - 64px);
  overflow-y: scroll;
  overflow-x: hidden;
  .count-down-group {
    .count-down-item {
      font-size: 20px;
      margin-right: 12px;
    }
  }
  .form {
    .filter-bar {
      padding: 10px 10px;
      margin-bottom: 10px;
      border-radius: 10px;
      border: solid 1px #aaaaaa;
      input {
        border: 0;
        outline: none;
      }
    }
    .item {
      padding: 20px;
      margin-bottom: 15px;
      border-radius: 20px;
      border: solid #888 1px;
      overflow: hidden;
      &.active {
        background-color: #fff4df;
      }
      .item-title {
        padding-bottom: 15px;
        cursor: pointer;
        align-items: center;
        justify-content: space-between;
        .item-label {
          .item-title-label {
            font-size: 18px;
            font-weight: bold;
          }
          .item-price-label {
            padding-left: 10px;
          }
        }
        .control-bar {
          width: 50%;
          .item-value {
            padding-bottom: 6px;
          }
        }
      }
      .option {
        padding: 5px 0;
        .option-title {
          font-weight: bold;
          padding-right: 5px;
        }
        mat-checkbox {
          margin: 0 5px
        }
      }
    }
  }
  .form::ng-deep {
    border-radius: 10px;
    overflow: hidden;
    .mat-step {
      .mat-step-header {
        display: flex;
        align-items: center;
        h1 {
            margin: 0 !important;
        }
      }
    }
  }
  @media screen and (max-width: 600px){
    .count-down-group {
      .count-down-item {
        font-size: 20px;
        margin-right: 12px;
      }
    }
    .form {
      .filter-bar {
        padding: 10px 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: solid 1px #aaaaaa;
        input {
          border: 0;
          outline: none;
        }
      }
      .item {
        padding: 20px;
        margin-bottom: 15px;
        border-radius: 20px;
        border: solid #888 1px;
        overflow: hidden;
        &.active {
          background-color: #fff4df;
        }
        .item-title {
          padding-bottom: 15px;
          cursor: pointer;
          flex-direction: column !important;
          .item-label {
            padding: 5px 0 20px 0;
            width: 100%;
            .item-title-label {
              font-size: 16px;
              font-weight: bold;
            }
            .item-price-label {
              padding-top: 6px;
              padding-left: 10px;
            }
          }
          .control-bar {
            width: 100%;
            .item-value {
              padding-bottom: 6px;
            }
          }
        }
        .option {
          padding: 5px 0;
          .option-title {
            font-weight: bold;
            padding-right: 5px;
          }
          .selection {
            flex-wrap: wrap;
          }
        }
      }
    }
  }
  .total {
    padding: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333333;
    color: white;
    border-radius: 5px 0 0 0 ;
  }
}

